!!! 5
%html
  = partial '/partials/head'
  %body{:class => page_classes}
    = partial '/partials/nav'
    #navspacer
    .post
      - if current_page.data.link
        %h1.link
          Link: 
          = link_to current_page.data.title, current_page.data.link
      - else
        %h1.post
          = link_to current_page.data.title, current_page.url
      %time{ :datetime => current_page.date, :pubtime => "" }
        Posted
        = link_to current_page.date.strftime('%b %e'), current_page.url
      = yield

      .author
        %p
          This was written by
          %a{ :href => 'http://filtercake.com'}
            filtercake
          \. Say hi on
          %a{ :href => 'http://twitter.com/filtercake' }
            twitter
          \.

    .clear
    %footer
      = partial '/partials/footer'  


    / %header
    /   = partial '/partials/header'  
    


  
  = partial 'partials/script-embed'