- if paginate
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- page_articles.each_with_index do |article, i|

  %article
    / image post
    - if article.data.image
      - if article.data.link
        %a{ :href => article.data.link }
          %img{ :src => article.data.image}
        %p.imagesource
          Source:
          %a{ :href => current_page.data.link }
            = article.data.link
      - else
        %img{ :src => article.data.image}
      = article.body
    - else
      / link post
      - if article.data.link
        %h1.link
          Link:
          = link_to article.title, article.data.link
        .link-body
          = article.body


      - else
        / text post
        %h1.post
          = link_to article.title, article
        .post-summary
          - if article.data.summary
            %p
              = article.data.summary
          - else
            = article.summary
        %p
          = link_to "Read on...", article

    %time{ :datetime => article.date, :pubtime => "" }
      Posted
      = link_to article.date.strftime('%b %e'), article


  /
    use article.summary(250) if you have Nokogiri available to show just
    the first 250 characters
  / = article.body


- if paginate
  - if next_page
    %p= link_to 'Next page', next_page





